html,
body {
  margin: 0 !important;
  font-family: Roboto, sans-serif;
}

body {
  height: 100%;
}

#app {
  height: 100%;
}

.genreBar {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.bar {
  width: 100%;
  height: 4px;
  background: rgba(217, 217, 217, 0.5);
  box-shadow: 0px 0px 50px rgba(10, 207, 131, 0.5),
    inset 0px 0px 20px rgba(10, 207, 131, 0.5);
}

.barText {
    text-align: center;
    text-shadow: 0px 0px 20px #51aea7;
    padding: 0 1rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
    font-size: 15px;
    color: #ffffff;
    background-color: #1b1e21;
    white-space: nowrap;
  }
